html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #242424;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #8a2be2;
  text-decoration: underline dashed;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
